<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.ancit.github.utils.mainCat"
            name="GitHub Utils">
      </category>
      <view
            category="org.ancit.github.utils.mainCat"
            class="org.ancit.github.utils.forkvis.views.ForkZestView"
            id="org.ancit.github.utils.forkvis.views.ForkZestView"
            name="Fork Zest Visualizer"
            restorable="true">
      </view>
   </extension>

</plugin>
