<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="contents.xml">
      </toc>
      <toc
            file="index.xml"
            primary="true">
      </toc>
   </extension>

</plugin>
